[submodule "modules/MwParserFromScratch"]
	path = modules/MwParserFromScratch
	url = https://github.com/CXuesong/MwParserFromScratch
[submodule "modules/DiffMatchPatch"]
	path = modules/DiffMatchPatch
	url = https://github.com/CXuesong/DiffMatchPatch
